<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>フォームのサンプル</title>
</head>
<body>
<h1>フォームのサンプル</h1>
<p>
    コントローラは<a href="https://github.com/teachingprogramming/lecture2016java2/blob/master/webapp/src/main/java/net/teachingprogramming/webapp/FormSampleController.java">FormSampleController.java</a>
</p>
<ul>
    <li><a href="text">テキスト</a></li>
    <li><a href="checkbox">チェックボックス</a></li>
    <li><a href="radio">ラジオボタン</a></li>
    <li><a href="select">セレクト</a></li>
    <li><a href="upload">ファイルアップロード</a></li>
</ul>
</body>
</html>